/* Main styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
.text {
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}
.text:nth-child(7n+1) {
  stroke: #000000;
  -webkit-animation-delay: -0.8571428571s;
  animation-delay: -0.8571428571s;
}
.text:nth-child(7n+2) {
  stroke: #D3D3D3;
  -webkit-animation-delay: -1.7142857143s;
  animation-delay: -1.7142857143s;
}
.text:nth-child(7n+3) {
  stroke: #00BFFF;
  -webkit-animation-delay: -2.5714285714s;
  animation-delay: -2.5714285714s;
}
.text:nth-child(7n+4) {
  stroke: #EE82EE;
  -webkit-animation-delay: -3.4285714286s;
  animation-delay: -3.4285714286s;
}
.text:nth-child(7n+5) {
  stroke: #FFD700;
  -webkit-animation-delay: -4.2857142857s;
  animation-delay: -4.2857142857s;
}
.text:nth-child(7n+6) {
  stroke: #FF0000;
  -webkit-animation-delay: -5.1428571429s;
  animation-delay: -5.1428571429s;
}
.text:nth-child(7n+7) {
  stroke: #FF8C00;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}
@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}
/* Other styles */
html, body {
  height: 100%;
}

body {
  background-image: url(./love.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font: 5em/1 Open Sans, Impact;
  text-transform: uppercase;
  margin: 0;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}
